
nav
{
	background: rgba(0,0,0, 0.20);
	height: 50px;

	
}

body
{
  background:  url(../img/04.JPG);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.content
{
	background: rgba(0,0,0, 0.20);
  
}

#banner
{
	background: rgba(0,0,0, 0.20);
	height: 700px;
	color: #fff;
}

#banner1
{
	height: 300px;
	background: rgba(0,0,0, 0.20);
	color: #fff;
}

#banner1 .inner
{
	max-width: 300px;
	margin: 0 auto;
	position: relative;
	top:240px;
	text-align: center;
}
#banner1 .inner .la_masion
{
	position: relative;
	bottom:100px;

    
}

#banner1 .inner .la_masion .hr
{
	width: 80%;
}
#banner1 .inner .la_masion h1
{
	padding: 20px
}


nav ul
{
	list-style: none;
	margin: 0;
	position: 

}

nav ul li
{
	display: inline-block;
	line-height: 50px;
	float:right;
	margin-right: 20px;
	padding: 20 0px;

}

nav ul li a 
{
    line-height: 30px;
    text-decoration: none;
    display: inline-block;
    height: inherit;
    color: #fff;
    min-width: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

nav ul a:hover
{
	background: #9b9367;
	width: 100%;
}

ul
{
	margin:0;
}

nav ul li.logo
{
	float: left;
	



}



h1
{
	margin:0;
	font-size: 30px;
}

h2
{
	margin:0;
	font-size: 30px;
}

p{
	font-size: 18px;
	letter-spacing: 1px;
}

#banner .inner
{
	max-width: 300px;
	margin: 0 auto;
	position: relative;
	top:170px;
	text-align: center;
}
#banner .inner .la_masion
{
	position: relative;
	bottom:30px;

    
}

#banner .inner .la_masion .hr
{
	width: 80%;
}
#banner .inner .la_masion h1
{
	padding: 20px
}

input 
{
	border:none;
	background: #5f96a2;
	padding: 10px 15px;
	font-weight: bold;
	color: #272727;
}

#banner .inner .more
{
	margin-top: 130px;
}

 .subtitle
{
	line-height: 20px;
    margin:20px;
}

.logo
{
	font-size: 20px;
	font-weight: 700px;
	letter-spacing: 1px;
}

.logo a 
{
	color:#fff;
}

.wrapper
{   
	max-width: 1080px;
	margin:0 auto;
	text-align: center;
	padding:40px;
}

.section_green
{
	background: #23867d;
	color: #fff;
}

.hr
{
	width: 100%;
	height: 2px;
	margin: 0 auto;
	background: #fff;
}

.section_green .hr
{
	
	background: #e5f3ee;
	width: 60%;
	margin: 20px auto;
}

.sub_heading
{
	font-size: 18px;
}

.section_green .icon
{
	display: inline-block;
	width: 80px;
	height: 80px;
	border: 1px solid #7fab99;
	transform: rotate(45deg);
	margin:20px 40px ;

}

.section_green .wrapper .icon_group
{
	margin-top: 80px;
}

.img_section
{
	width: 38%;

}

.img_section img
{
	width: 100%;
	max-height: 400px;
	min-width: 500px;
	margin:20px;
}

.text_section 
{    
	position: relative;
	    top: 100px;
	    left: 49px;
		width:55%;
		margin-top: 80px;

}

.section_blue
{
	background: #675858;
	color: #fff;
}

.preview_article > div
{
	 float: left;
	 font-size: 0;
} 


.clear_float:after
{

	content: '';

	display: block;

	clear: both;



}

.text_section p
{
	font-size: 16px;
	letter-spacing: 1px;
}

.text_section h2
{
	font-size: 25px;
	letter-spacing: 1px;
}

.text_section  .subtitle
{
	font-size: 18px;
	letter-spacing: 1px;
	margin: 0;
}

.text_section >*
{
	width: 90% ;
}

.preview_article:nth-child(odd)
{
	background: #5a5757;
}

.section_perple
{
	background: #4b3865;
    padding: 40px;
    color: #fff;
}

.section_perple .heading_wrapper
{
	width: 50%;
	margin:0 auto;
}

.section_perple .card_group
{
	width: 50%;
	margin:0 auto;
	margin-top: 60px;

}

.card
{
	width: 49%;
	float:left; 
	margin-top: 0px;
	/*border: 1px solid white;*/
	height: 330px;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	

}

.card p
{
	width: 80%;
	position: relative;
	margin-left: 38px;
}

.section_perple .heading_wrapper 
{
	text-align: center;
}

.card h3
{
	position: relative;
	margin-left: 38px;
}

.card:first-child
{
	background-color: rgba(0,0,0, 0.05);
}

.card:nth-child(2)
{
    background-color: rgba(0,0,0, 0.09);
}

.card:nth-child(3)
{
	background-color: rgba(0,0,0, 0.14);

}

.card:nth-child(4)
{
	background-color: rgba(0,0,0, 0.18);
}

footer
{
	background: #333;
	color: #fff;
	text-align: center;
	min-height: 150px;

}

.share_group
{
	width: 1080px;
	margin: 0 auto;
	padding: 40px;
}

.share_group li
{
	display: inline-block;
	padding: 10px;
}

.mask
{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, 0.40);

}
#sidebar
{
	position: fixed;
	top: 50px;
	bottom: 0;
	left: -300px;
	width: 100px;
	background: #333;
	color: #fff;
	transition: 0.5s;
}

#sidebar ul
{
	list-style: none;
	padding: 0px;
	margin:0;	
}

#sidebar ul a
{
	text-decoration: none;
	display: block;
	color: #fff;
	padding:30px;
}

#sidebar ul a:hover
{
	background: #444;
	width: 40%;
}


.cv
{
    margin: 0 auto;
    width: 1080px;
    font-size: 0;
    
}

.cv img
{
	max-width: 1080px;
	max-height: 2000px;
	

}


.change_v
{
	font-size: 20px;
	display: inline-block;
	padding: 20px;

}

.change_v a
{
	text-decoration: none;
	color: #fff;
	padding: 5px;
	margin: 0 20px;
	
}

.change_v a:hover
{
	background: #9b9367;
	
}